.rm_wrap{
	width:740px;
}
.rm_section{
	margin: 0 0 10px 0;
	border:1px solid #e5e5e5;
	border-radius: 4px; -moz-border-radius: 4px;
	background: #f3f3f3;
}
.rm_opts label{
	font-weight: bold;
	width: 200px;
	display:block;
	float:left;
	color: #4e4e4e;
}
.rm_input {
	padding:30px 10px;
	border-bottom:1px solid #e5e5e5;
}
.rm_input:last-child {
	border: 0;
}
.rm_opts small {
	display:block;
	float:right;
	width:200px;
	color:#5b5b5b;
	font-size: 100%;
}
.rm_opts .full {
	display:block;
	margin: 0 10px 0 0;
	float:right;
	width: auto;
	color:#5b5b5b;
	font-size: 100%;
}
.rm_opts input[type="text"], .rm_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#3b3b3b;
	line-height:1.5em;
	background:#fff;
	border: 1px solid #b0b0b0;
	border-radius: 0px; -moz-border-radius: 0px;
	overflow: hidden;
}
.rm_input input:focus, .rm_input textarea:focus{
	background:#fff;
}
.rm_input textarea{
	width:280px;
	height:150px;
	font-size:12px;
	padding:4px;
	color: #3b3b3b;
	line-height:1.5em;
	background:#fff;
	border: 1px solid #b0b0b0;
	border-radius: 0px; -moz-border-radius: 0px;
}
.rm_title h3 {
	cursor:pointer;
	font-size: 115%;
	margin:0;
	font-weight:bold;
	color:#262626;
	float:left;
	width:80%;
	padding:14px 4px;
}
.rm_title{
	cursor:pointer;
	padding:0; margin: 0px;
	line-height: 32px;
}
.rm_title h3 img.inactive{
	margin: 0 10px;
	width:32px;
	height:32px;
	background: #fff url('../img/pointer.png') no-repeat 0 0;
	float:left;
	border-radius: 6px;
	-moz-border-radius:6px;
	border:1px solid #f38bcc;
}
.rm_title h3 img.active {
	margin: 0 10px;
	width:32px;
	height:32px;
	background: #fff url('../img/pointer.png') no-repeat  0 -32px;
	float:left;
	border-radius: 6px;
	-moz-border-radius:6px;
	border:1px solid #f38bcc;
}
.rm_title h3:hover img{
	border:1px solid #ea35a6;
}
.rm_title span.submit{
	display:block;
	float:right;
	margin: 17px 10px 0 0; padding:0;
	width:15%;
}
.clearfix{
	clear:both;
}
.rm_table th, .rm_table td{
	border:1px solid #e5e5e5;
	padding:10px;
	text-align:center;
}
.rm_table th, .rm_table td.feature{
	border-color:#e5e5e5;
}
/* -----------------------------------------------------------------------------
	Shortcodes in theme options
   ---------------------------------------------------------------------------*/
.shortcodes {
    padding: 15px 15px 0 15px; margin: 10px 0 40px;
    width: 710px;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    background: #f3f3f3;
}
.shortcodes p { color: #666; margin: 0 0 15px; }
.shortcodes h3 {
    font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    margin: 0 0 15px;
}
.shortcodes ul {
	margin: 0 0 15px;
}
.shortcodes li {
	font-size: 120%;
    margin: 0; padding: 0 20px 0 0;
    display: inline;
}
.shortcodes li:first-child,
.shortcodes li.title {
    font-weight: bold;
	margin: 10px 0 0;
}