/*----------------------------------------------------
STYLES IE BELOW v8
-----------------------------------------------------*/
   input#searchfield { color: #000; padding: 2px; border: 1px solid #000; margin: 0; width: 242px; float: left; }
